{% extends 'base.html' %}

{% block title %} HomePage {% endblock %} 

{% block content %}

<div class="row p-2">
  <div class="col-md-12">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='images/img_1.jpg') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='images/img_2.jpg') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='images/img_3.jpg') }}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="row p-2">
  <div class="col-md-12">
    <h2 class="text-center">Welcome to Efo's Garage</h2>
  </div>
<div class="text-center">
    <button class="btn btn-outline-primary text-center">Browse Cars</button>
</div>
<div class="row p-2">
  <div class="col-md-12">
    <h2 class="text-center">Top Cars</h2>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='images/img_4.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Chevrolet Corvette Stingray 3LT Coupe</h5>  
          <p class="card-text">The Chevrolet Corvette is an iconic American sports car renowned for its bold design, exhilarating performance, and cutting-edge technology. Equipped with a powerful V8 engine, the Corvette delivers heart-pounding acceleration and agile handling, making it a true driver's car.</p>
          <div class="text-center">
            <a href="#" class="btn btn-primary ">Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='images/img_5.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title
          text-center">Audi RSQ8</h5>
          <p class="card-text">The Audi RS Q8 is a high-performance luxury SUV that blends the practicality of an SUV with the dynamic capabilities of a sports car. Equipped with a 4.0-liter V8 twin-turbocharged engine, it delivers an impressive 591 horsepower, allowing it to accelerate from 0 to 60 mph in just 3.7 seconds.</p>
          <div class="text-center">
            <a href="#" class="btn btn-primary ">Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='images/img_6.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Acura RDX</h5>
          <p class="card-text">The Acura RDX is a luxury compact SUV that combines sporty performance with a refined, tech-forward interior. Powered by a 2.0-liter turbocharged engine producing 272 horsepower, the RDX offers a responsive and engaging driving experience. Its Super Handling All-Wheel Drive™ system makes it an ideal drivers' car.</p>
          <div class="text-center">
            <a href="#" class="btn btn-primary ">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  {% endblock %}